<div class="page-folders-topbar">
  <h1 class="page-folders-topbar__title"><%= @page_folder.title %></h1>

  <% if @page_folder.root_folder_id? %>
      <%= link_to "#{glyphicon 'arrow-up'} #{t :go_up}".html_safe, @page_folder.root_folder,
                  class: 'page-folders-topbar__back-btn'
      %>
  <% end %>

  <div class="page-folders-topbar__actions page-folders-actions">
    <button class="page-folders-actions__item btn btn-success" id="create-page-button" data-in-folder="<%= @page_folder.id %>">
      <%= glyphicon 'plus'%> <%=t :new_page %>
    </button>

    <button class="page-folders-actions__item btn btn-default" id="create-page-folder-button" data-in-folder="<%= @page_folder.id %>">
      <%=t :new_folder %>
    </button>
  </div>
</div>