<p id="notice"><%= notice %></p>

<h1>Listing Page Folders</h1>

<table>
  <thead>
    <tr>
      <th>Path</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @page_folders.each do |page_folder| %>
      <tr>
        <td><%= page_folder.path %></td>
        <td><%= link_to 'Show', page_folder %></td>
        <td><%= link_to 'Edit', edit_page_folder_path(page_folder) %></td>
        <td><%= link_to 'Destroy', page_folder, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Page folder', new_page_folder_path %>
