<h4><%=t :save_on %></h4>

<div class="first-setup-window__choice">
  <div class="form-group radio">
    <label>
      <%= f.radio_button :save_choice, 'local', checked: true %>
      <%=t :save_on_server %>
    </label>
  </div>
  <div class="form-group radio">
    <label>
      <%= f.radio_button :save_choice, 's3' %>
      <%=t :save_on_amazon_s3 %>
    </label>
  </div>
</div>

<div class="first-setup-window__choice-details">
  <%# s3 %>
  <div class="form-horizontal panel panel-default hidden" id="first_setup_save_choice_s3_details">
    <div class="panel-body">
      <div class="form-group">
        <%= f.label :save_s3_access_key, 'Access key', class: 'control-label col-sm-3' %>
        <div class="col-sm-9">
          <%= f.text_field :save_s3_access_key, class: 'form-control' %>
        </div>
      </div>
      <div class="form-group">
        <%= f.label :save_s3_secret, 'Secret', class: 'control-label col-sm-3' %>
        <div class="col-sm-9">
          <%= f.text_field :save_s3_secret, class: 'form-control' %>
        </div>
      </div>
      <div class="form-group">
        <%= f.label :save_s3_region, 'Region', class: 'control-label col-sm-3' %>
        <div class="col-sm-9">
          <%= f.text_field :save_s3_region, class: 'form-control' %>
        </div>
      </div>
    </div>
  </div>
</div>