<% content_for(:title, t(:first_setup)) %>

<div class="first-setup-window">
  <h1><%=t :hello_exclmark %></h1>
  <p><%=t :your_site_is, domain: ENV['SITE_DOMAIN'] %></p>
  <br>

  <%= form_for @first_setup, url: init_path do |f| %>
      <% %w(import_choice email_choice admin_user).each do |p| %>
          <%= render p, f: f %>
          <br>
      <% end %>

      <%= f.submit t(:finish_setup),
                   class: 'btn btn-success', id: 'first_setup_finish_btn',
                   disabled: true,
                   'data-turbolinks' => false, 'data-disable-with' => t(:finishing)
      %>
  <% end %>
</div>