<tr class="page-folders-list__row" data-href="<%= entry_path entry, type %>">
  <td class="page-folders-list__icon page-folders-list__icon_<%= type %>">
    <%= entry_icon type %>
  </td>

  <td class="page-folders-list__title page-folders-list__title_<%= type %>">
    <%= entry.title %>
  </td>

  <td class="page-folders-list__actions">
    <div class="page-folders-list__action" data-action="move" data-<%= type %>="<%= entry.id %>" title="<%= I18n.t(:move) %>">
      <%= glyphicon 'pencil' %>
    </div>
    <div class="page-folders-list__action" data-action="delete" data-<%= type %>="<%= entry.id %>" title="<%= I18n.t(:delete) %>">
      <%= glyphicon 'trash' %>
    </div>
  </td>

  <td class="page-folders-list__updated-at">
    <%= entry.updated_at.to_s(:short) %>
  </td>
</tr>