<!DOCTYPE html>
<html>
<head>
  <title><%= yield(:title) %></title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <%= stylesheet_link_tag    '/assets/app', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag '/assets/app', 'data-turbolinks-track' => true, 'defer' => true %>
  <%= csrf_meta_tags %>
</head>
<body data-controller="<%= params[:controller] %>">

<% flash.each do |k, v| %>
  <div class="flash flash_<%= k %>"><%= v %></div>
<% end %>

<%= yield %>

</body>
</html>
