<!DOCTYPE html>
<html>
  <head>
    <title><%= yield(:title) %></title>
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <% data_turbolinks_track = Rails.env.development? ? 'reload' : false %>
    <%= stylesheet_link_tag 'app', media: 'all', 'data-turbolinks-track' => data_turbolinks_track %>

    <%= javascript_include_tag 'app',
                               'data-turbolinks-track' => data_turbolinks_track %>
    <%= javascript_include_tag 'translations',
                               'data-turbolinks-track' => data_turbolinks_track %>

    <%= csrf_meta_tags %>
  </head>

  <body data-controller="<%= params[:controller] %>">
    <% flash.each do |k, v| %>
        <div class="flash flash_<%= k %>"><%= v %></div>
    <% end %>

    <%= yield %>
  </body>
</html>
